<!-- begin::Header -->
<div class="card-header border-0 text-center">
  <h2 class="card-title fw-bolder text-dark">DÉCOUVREZ NOS COMPTES & LIVRETS D'ÉPARGNE</h2>


<!-- end::Header -->
<!-- begin::Body -->
<br> <br>

<div class="product-container aem-GridColumn aem-GridColumn--default--12" >
  <div class="hub-container  hub-container--fat">
    <!-- begin::Description -->
    <h2 _ngcontent-mvc-c210 class="hub-container_title"> Découvrez toute la gamme de comptes et de livrets pour épargner selon vos besoins. </h2>
<br> <br>
    <div class="row">
      <div class="col"><div class="_componentContainer _hub_card">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <div class="thumbnail-product aem-GridColumn aem-GridColumn--default--12">
            <!--awel wahda -->
            <div class="hub-card hub-card--epargne">
              <a target="_blank" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <div class="hub-card_img">
                  <img src="https://mabanque.bnpparibas/content/dam/mabanque/rsc/contrib/image/particuliers/produits/assurance/hub-mrh-etudiant.jpg" width=70% height=70% alt>
                </div>
              </a>
              <div target="_blank" class="hub-card_content" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <h3 class="hub-card_title"> Livret A</h3>
                <p class="hub-card_text"> Un livret d'épargne disponible à tout moment et défiscalisé.</p>
              </div>
              <div class="text-center">
                <button class="badge badge-dark text-light"  (click)="SouscriptionEnLigne()">
                  Souscrire En Ligne
                </button>
                <br> <br> <br> <br>
              </div>
            </div>
          </div>
        </div>
      </div> </div>
      <div class="col"><div class="_componentContainer _hub_card">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <div class="thumbnail-product aem-GridColumn aem-GridColumn--default--12">
            <!--awel wahda -->
            <div class="hub-card hub-card--epargne">
              <a target="_blank" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <div class="hub-card_img">
                  <img src="https://mabanque.bnpparibas/content/dam/mabanque/rsc/contrib/image/particuliers/produits/epargne/ldd-petite.jpg" width=70% height=70% alt>
                </div>
              </a>
              <div target="_blank" class="hub-card_content" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <h3 class="hub-card_title"> Livret de développement durable et solidaire</h3>
                <p class="hub-card_text"> Une épargne sécurisée et disponible à tout moment.</p>
              </div>
              <div class="text-center">
                <button class="badge badge-dark text-light"  (click)="SouscriptionEnLigne()">
                  Souscrire En Ligne
                </button>
                <br> <br> <br> <br>
              </div>
            </div>
          </div>
        </div>
      </div> </div>
      <div class="w-100"></div>
      <div class="col"><div class="_componentContainer _hub_card">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <div class="thumbnail-product aem-GridColumn aem-GridColumn--default--12">
            <!--awel wahda -->
            <div class="hub-card hub-card--epargne">
              <a target="_blank" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <div class="hub-card_img">
                  <img src="https://mabanque.bnpparibas/content/dam/mabanque/rsc/contrib/image/particuliers/produits/epargne/lep-petite.jpg" width=70% height=70% alt>
                </div>
              </a>
              <div target="_blank" class="hub-card_content" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <h3 class="hub-card_title"> Livret d'épargne populaire</h3>
                <p class="hub-card_text"> Une épargne performante réservée à ceux qui paient peu d'impôts.</p>
              </div>
              <div class="text-center">
                <button class="badge badge-dark text-light"  (click)="SouscriptionEnLigne()">
                  Souscrire En Ligne
                </button>
                <br> <br> <br> <br>
              </div>
            </div>
          </div>
        </div>
      </div> </div>
      <div class="col"><div class="_componentContainer _hub_card">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <div class="thumbnail-product aem-GridColumn aem-GridColumn--default--12">
            <!--awel wahda -->
            <div class="hub-card hub-card--epargne">
              <a target="_blank" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <div class="hub-card_img">
                  <img src="https://mabanque.bnpparibas/content/dam/mabanque/produits/epargne/livret-jeune-petite.jpg" width=70% height=70% alt>
                </div>
              </a>
              <div target="_blank" class="hub-card_content" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <h3 class="hub-card_title"> Livret Jeune</h3>
                <p class="hub-card_text"> Un contrat d'épargne disponible à versements libres réservé aux jeunes entre 12 et 25 ans.</p>
              </div>
              <div class="text-center">
                <button class="badge badge-dark text-light"  (click)="SouscriptionEnLigne()">
                  Souscrire En Ligne
                </button>
                <br> <br> <br> <br>
              </div>
            </div>
          </div>
        </div>
      </div> </div>
      <div class="w-100"></div>
      <div class="col"><div class="_componentContainer _hub_card">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <div class="thumbnail-product aem-GridColumn aem-GridColumn--default--12">
            <!--awel wahda -->
            <div class="hub-card hub-card--epargne">
              <a target="_blank" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <div class="hub-card_img">
                  <img src="https://mabanque.bnpparibas/content/dam/mabanque/rsc/contrib/image/particuliers/produits/epargne/compte-epargne-petite.jpg" width=70% height=70% alt>
                </div>
              </a>
              <div target="_blank" class="hub-card_content" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <h3 class="hub-card_title"> Compte Epargne</h3>
                <p class="hub-card_text"> Un contrat d’épargne disponible, rémunéré et sans plafond.</p>
              </div>
              <div class="text-center">
                <button class="badge badge-dark text-light"  (click)="SouscriptionEnLigne()">
                  Souscrire En Ligne
                </button>
                <br> <br> <br> <br>
              </div>
            </div>
          </div>
        </div>
      </div> </div>
      <div class="col"><div class="_componentContainer _hub_card">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <div class="thumbnail-product aem-GridColumn aem-GridColumn--default--12">
            <!--awel wahda -->
            <div class="hub-card hub-card--epargne">
              <a target="_blank" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <div class="hub-card_img">
                  <img src="https://mabanque.bnpparibas/content/dam/mabanque/rsc/contrib/image/particuliers/produits/epargne/compte-epargne-innovation-petite.jpg" width=70% height=70% alt>
                </div>
              </a>
              <div target="_blank" class="hub-card_content" href="/fr/epargner/comptes-livrets-epargne/livret-a">
                <h3 class="hub-card_title"> Compte Courant</h3>
                <p class="hub-card_text"> Les fonds déposés sur un Compte Courant sont disponibles immédiatement et les titulaires de compte peuvent généralement accéder à leurs fonds à tout moment.</p>
              </div>
              <div class="text-center">
                <button class="badge badge-dark text-light"  (click)="SouscriptionEnLigne()">
                  Souscrire En Ligne
                </button>
                <br> <br> <br> <br>
              </div>
            </div>
          </div>
        </div>
      </div> </div>
    </div>





    <div class="_componentContainer _hub_card"></div>



      </div>


</div>



    <!-- end::Checkbox -->


